<div class="track row align-items-center">
  <div class="col-12 col-sm-6 col-md-auto">
    <!-- Track Cover & Title -->
    <div class="row align-items-center">
      <app-track-cover
        class="col-12 col-sm-auto"
        [imageUrl]="selectedTrack$?.value?.cover"
      ></app-track-cover>

      <app-track-title
        class="col-12 col-sm text-center text-sm-start ps-0 ps-md-1"
        [title]="selectedTrack$?.value?.title"
        [artist]="selectedTrack$?.value?.artist"
      ></app-track-title>
    </div>
  </div>

  <!-- Music Controls -->
  <div class="col-12 col-sm-6 col-md-auto pe-sm-2 pe-md-2">
    <ng-content></ng-content>
  </div>

  <!-- Track Wave & Timestamps -->
  <div class="col row align-items-center">
    <div class="col-auto">
      <app-track-time [time]="currentTime"></app-track-time>
    </div>

    <div class="col px-0">
      <div class="loader" [hidden]="!isLoading">
        <app-loader></app-loader>
      </div>

      <div id="waveform"></div>
    </div>

    <div class="col-auto ps-2">
      <app-track-time [time]="duration"></app-track-time>
    </div>
  </div>
</div>
