<div class="row align-items-center justify-content-center">
  <div class="col-auto">
    <app-play-button
      title="Play Previous"
      icon="step-backward-alt"
      (click)="onChange.emit(playTypeEnum.PlayPrevious)"
    ></app-play-button>
  </div>

  <div class="col-auto px-4 px-sm-0">
    <app-play-button
      title="Play Next"
      classes="btn btn--play"
      [icon]="isPlaying ? 'pause' : 'play'"
      (click)="onChange.emit(playTypeEnum.PlayPause)"
    ></app-play-button>
  </div>

  <div class="col-auto">
    <app-play-button
      title="Play Pause"
      icon="step-forward-alt"
      (click)="onChange.emit(playTypeEnum.PlayNext)"
    ></app-play-button>
  </div>
</div>
