<!-- Music Player -->
<div
  class="music-player shadow-sm"
  [class.music-player--small]="isMinimized$ | async"
  [class.music-player--dark]="showDarkMode"
>
  <!-- [ngClass]="showDarkMode ? 'bg-dark' : 'bg-light'" -->
  <div class="row align-items-center">
    <!-- Track Cover & Title -->

    <!-- Music Controls -->

    <!-- Track Wave -->
    <app-track
      class="col-12 col-sm-12 col-md"
      [selectedTrack$]="selectedTrack$"
      [currentTime]="trackProgress$ | async"
      [duration]="trackDuration$ | async"
      [isLoading]="!wave?.isReady"
    >
      <div class="music-player__controls">
        <app-play-controls
          [isPlaying]="wave?.isPlaying()"
          (onChange)="handlePlay($event)"
        ></app-play-controls>

        <app-volume-controls
          class="d-none d-sm-block ps-sm-2 ps-lg-4"
          [isMuted]="wave?.isMuted"
          [volume]="volume"
          (onVolumeChange)="handleVolumeChange($event)"
          (onIsMuteChange)="handleIsMuteChange($event)"
        ></app-volume-controls>
      </div>
    </app-track>

    <app-resize-button
      class="col-auto d-none d-md-block pe-sm-3"
      [isMinimized]="isMinimized$ | async"
      (onMinimize)="handleMinimizeChange()"
    ></app-resize-button>
  </div>

  <!-- Playlist -->
  <app-playlist
    class="row col"
    [selectedTrack]="selectedTrack$ | async"
    [tracks]="tracks$ | async"
    (onTrackChange)="handleTrackChange($event)"
  ></app-playlist>
</div>

<!-- Track section comments -->
<ng-container *ngIf="showComments">
  <app-waveform-comments
    [regions]="iterableRegions"
    [isPlaying]="wave?.isPlaying()"
    (onRegionCommentClick)="handleRegionCommentClick($event)"
  ></app-waveform-comments>
</ng-container>
