::ng-deep {
  .music-player {
    $self: &;

    border-radius: 4px;
    overflow: hidden;
    background-color: #f8f9fa;
    padding: 0.75rem;
    height: auto;

    transition: height 600ms ease;

    &__controls {
      display: flex;
      text-align: center;

      transition: all 600ms ease;

      @media only screen and (min-width: 576px) {
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        height: 56px;
      }

      @media only screen and (max-width: 575px) {
        flex-direction: column;
        gap: 20px;
      }
    }

    &__control {
      transition: all 600ms ease;

      &--volume {
        display: flex;
        align-items: center;
      }

      .form-range {
        width: calc(100% - 21px);
        padding-left: 5px;

        min-width: 10px;
        max-width: 60px;
      }
    }

    &__button {
      background-color: transparent;
      padding-top: 5px;
      transition: all 600ms ease;

      &--play {
        border-radius: 100%;
        width: 2rem;
        height: 2rem;

        @media only screen and (max-width: 575px) {
          height: 3.2rem;
          width: 3.2rem;
        }
      }

      &--resize {
        transform: rotate(45deg);

        .pi {
          font-size: 0.6rem;
          font-weight: 600;
          padding: 2px;
        }
      }
    }

    &--dark {
      background-color: #212529;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      li {
        color: #f8f9fa;
      }
    }

    &--small {
      transition: all 600ms ease;

      @media only screen and (min-width: 768px) {
        padding: 0.25rem !important;

        .track__cover {
          height: 46px;
          width: 46px !important;
        }

        wave,
        .track__cover,
        #{$self}__controls {
          height: 46px !important;
        }

        .playlist {
          height: 0;
          display: none;

          .list-group-item {
            font-size: 0.85rem;
            padding: 0.25rem 0.5rem !important;
          }
        }
      }
    }
  }
}
