<!-- Music Player -->
<div
  class="music-player shadow-sm"
  [class.music-player--small]="isMinimized$ | async"
  [class.music-player--dark]="showDarkMode"
>
  <div class="music-player__row row align-items-center">
    <!-- Track -->
    <app-track
      class="col-12 col-sm-12 col-md"
      [selectedTrack$]="selectedTrack$"
      [currentTime]="trackProgress$ | async"
      [duration]="trackDuration$ | async"
      [isLoading]="!wave?.isReady"
    >
      <!-- Controls -->
      <div class="music-player__controls">
        <app-play-controls
          [isPlaying]="wave?.isPlaying()"
          (onChange)="handlePlay($event)"
        ></app-play-controls>

        <app-volume-controls
          class="d-none d-sm-block ps-sm-2 ps-lg-4"
          [isMuted]="wave?.isMuted"
          [volume]="volume$ | async"
          (onVolumeChange)="handleVolumeChange($event)"
          (onIsMuteChange)="handleIsMuteChange($event)"
        ></app-volume-controls>
      </div>
    </app-track>

    <app-resize-button
      class="col-auto d-none d-md-block pe-sm-3"
      [isMinimized]="isMinimized$ | async"
      (onMinimize)="handleMinimizeChange()"
    ></app-resize-button>
  </div>

  <!-- Playlist -->
  <ng-container *ngIf="!(isMinimized$ | async)">
    <div class="music-player__row music-player__row--last row">
      <app-playlist
        class="col-12"
        [selectedTrack]="selectedTrack$ | async"
        [tracks]="tracks$ | async"
        (onTrackChange)="handleTrackChange($event)"
      ></app-playlist>
    </div>
  </ng-container>
</div>

<!-- Track section comments -->
<ng-container *ngIf="showComments">
  <app-waveform-comments
    [regions]="iterableRegions"
    [isPlaying]="wave?.isPlaying()"
    (onRegionCommentClick)="handleRegionCommentClick($event)"
  ></app-waveform-comments>
</ng-container>
