::ng-deep {
  .music-player {
    $self: &;

    border-radius: 4px;
    overflow: hidden;
    
    color: #000;
    background-color: #f8f9fa;
    transition: height 300ms ease, background-color 300ms ease;

    &__row {
      padding: 0.75rem;

      &--last {
        padding-top: 0;
      }
    }

    &__controls {
      display: flex;
      text-align: center;
      transition: all 300ms ease;

      @media only screen and (min-width: 576px) {
        align-items: center;
        justify-content: space-between;
        gap: 15px;
      }

      @media only screen and (max-width: 575px) {
        flex-direction: column;
        gap: 20px;
      }
    }

    &__control {
      transition: all 300ms ease;

      &--volume {
        display: flex;
        align-items: center;
      }

      .form-range {
        width: calc(100% - 21px);
        padding-left: 5px;

        min-width: 10px;
        max-width: 60px;
      }
    }

    &--dark {
      background-color: #212529;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      li {
        color: #f8f9fa;
      }
    }

    &--small {
      @media only screen and (min-width: 768px) {
        #{$self}__row {
          transition: all 300ms ease-in-out;
          padding: 0.5rem;
        }

        .track__cover {
          height:50px !important;
          width:50px !important;
        }
      }
    }
  }
}
