/* Add application styles & imports to this file! */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import './styles/main.scss';

* {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: calc(100vh);

  background-image: linear-gradient(
    to top,
    #f3e7e980 0%,
    #e3eeff80 99%,
    #e3eeff80 100%
  );
}

a {
  text-decoration: none;
}
